:root {
  font-size: 16px;
  line-height: 1.25;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.icon {
  width: 2rem;
  height: 2rem;
}

/* card */
.deleteBtn,
.editBtn,
.moreBtn {
  width: 20px;
  height: 20px;
}
