@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Julius+Sans+One&display=swap");

:root {
  font-size: 18px;
  line-height: 1.25;
  --primary-bg-color: #7da5f4;
  --secondary-bg-color: hsl(216, 63%, 59%);
  --primary-color: #ffffff;
  --secondary-color: #3b5891;
  --card-bg-color-1: #77d697;
  --card-bg-color-2: #d67793;
  --card-bg-color-3: #7f77d6;
  --font-size-900: 3.56rem;
  --font-size-800: 2rem;
  --font-size-700: 1.67rem;
  --font-size-600: 1.333rem;
  --font-size-500: 1.1rem;
  --aside-width: 19.4rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Josefin Slab", serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
}

/* aside */
aside {
  min-height: 100dvh;
  min-width: var(--aside-width);
  background-color: var(--secondary-bg-color);
  box-shadow: 10px 0px 4px -6px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.heroTitle {
  font-family: "Julius Sans One", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: var(--font-size-900);
}

.heroText {
  font-size: var(--font-size-600);
}

/* nav */

.navBar {
  margin-top: 6.94rem;
  text-align: center;
}

.allTask {
  position: relative;
  margin-bottom: 2.8rem;
  padding: 1rem 0;
}

.projectHead {
  padding: 1rem 0;
}
.newProject,
.newTask {
  fill: var(--secondary-color);
  right: 100px;
  position: absolute;
  width: 1.94rem;
  height: 1.94rem;
  top: 22.5px;
  right: 20px;
  visibility: hidden;
}
.projectHead:hover,
.allTask:hover,
.projectHead:hover,
li[class^="project-"]:hover {
  background: linear-gradient(
    135deg,
    rgba(85, 137, 216, 1) 0%,
    rgba(125, 165, 244, 1) 100%
  );
}
.projectHead:hover .newProject,
.allTask:hover .newTask {
  visibility: visible;
}
.projectContainer {
  position: relative;
}
.projectContainer > a {
  width: 100%;
}
.projectList {
  font-size: var(--font-size-700);
  text-align: center;
  color: var(--primary-color);
}
.projectList > li {
  padding: calc(var(--font-size-600) / 2) 0;
}

li[class^="project-"] {
  position: relative;
}
li[class^="project-"]::before {
  display: inline-block;
  content: url(circle-regular.svg);
  width: 10px;
  height: 10px;
  position: absolute;
  left: 90px;
}
li[class^="project-"] .icon {
  visibility: hidden;
  position: absolute;
  top: 15px;
  right: 39px;
}
li[class^="project-"]:hover .icon {
  visibility: visible;
}
.label {
  font-size: var(--font-size-800);
  color: var(--primary-color);
}

/* container */
.container {
  width: calc(100dvw - var(--aside-width));
  background-color: var(--primary-bg-color);
}

/* content */
.content {
  margin: 0 30px;
  margin-top: 90px;
  display: grid;
  gap: 70px;
  grid-template-columns: repeat(4, 1fr);
}

.taskCard {
  position: relative;
  border-radius: 10px;
  min-height: 145px;
  color: #ffffff;
  box-shadow: 0px 10px 3px -6px rgba(0, 0, 0, 0.2);
}
.taskCard > .date {
  color: #ffffffc8;
  font-size: 1rem;
  position: absolute;
  top: 16px;
  left: 20px;
}
.taskCard > .title {
  font-size: var(--font-size-700);
  position: absolute;
  top: 60px;
  left: 40px;
}
.taskCard > .changeStatus {
  position: absolute;
  top: 65px;
  left: 10px;
}
.taskCard > .deleteBtn {
  top: 10px;
  right: 10px;
}
.taskCard > .moreBtn {
  bottom: 10px;
  right: 10px;
}
.taskCard > .editBtn {
  bottom: 10px;
  right: 40px;
}
.taskCard > [class$="Btn"] > svg:hover > path {
  fill: var(--primary-bg-color);
}
.priority-1 {
  background-color: var(--card-bg-color-1);
}
.priority-2 {
  background-color: var(--card-bg-color-2);
}
.priority-3 {
  background-color: var(--card-bg-color-3);
}
.priority-2 {
  background-color: #d67793;
}
/* card */
.deleteBtn,
.editBtn,
.moreBtn,
.changeStatus {
  width: 20px;
  height: 20px;
  position: absolute;
}
